@import url(reset.css);
@import url(fonts.css);
/*HEADER*/
#header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Sintony';
  text-transform: uppercase;
}

#header .logo {
  background: url(../../img/logo.png) no-repeat;
  background-size: contain;
  width: 215px;
  height: 45px;
}

#header .logo a {
  text-indent: -9999px;
  display: block;
  height: 100%;
}
